adatutak_jelgenerator.jpg
adatutak_jelgenerator_.jpg
allapotdiagram_jelgenerator.jpg
aramkori_rajz_jelgenerator.PNG
rajz_ultrahangos_tavolsagmero.jpg
szimulacio_hiba.PNG
aramkori_rajz_konvolucios_modul.PNG
szimulacio.png
tombvazlat_konvolucios_modul

ultrahangos_tavolsagmero.runs
ultrahangos_tavolsagmero.sim
ultrahangos_tavolsagmero.ip_user_files
ultrahangos_tavolsagmero.hw
ultrahangos_tavolsagmero.cache